h2 {
    color: white;
    font-size: 24px;
    border: #E0E0E0;;
}
.criteria-container {
    /*display: none;*/
    border: 5px solid #E0E0E0;
    
}
.search-criteria {
    color: white;
    font-size: 24px;
    border: #E0E0E0;
    
}
.check-box {
    color: white;
}

.check-box-text {
    color: white;
}

.video-header {
    display: none;
}
.video-container {
    display: none;
}

.button-container {
    display: none;
}
