h2 {
    color: white;
    font-size: 24px;
    border: #E0E0E0;;
}

.nav-wrapper {
    margin:auto;
    text-align: center;
}

.tabs-transparent {
    display: flex;
    justify-content: center;

}

.row{
    margin-bottom: 0px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

#search-criteria {
   /* display: none;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.criteria-container {
    border: 2px solid #E0E0E0;
    margin-top: 20px;
    margin: 1px;
    flex: 1 0 100%;
    text-align: center;
    /*todo: transition*/
}

#button-container {
    display:flex;
    justify-items: center;
    margin-top: 10px;
}

.video-container {
    color: white;
    font-size: 20px;
}

.prev-next-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}


@media screen and (min-width: 969px) {
    .criteria-container {
        flex: 0 0 33%;
    }
}

.check-box {
    color: white;
}

.check-box-text {
    color: white;
}

#video-container {
    display: none;
}
